
@{
    ViewBag.Title = "Australia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <center>
        <h2>Australia</h2>
        <br/>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/240px-Flag_of_Australia_%28converted%29.svg.png" width="240" height="120">
        <div>
            <b>Area:</b> 7 692 024 km2
            <br />
            <b>Population:</b> 24 140 800 people (2018)
            <br />
            <b>Capital:</b> Canberra (since 1927)
            <br />
            <b>Major cities:</b> Sydney, Melbourne, Brisbane, Perth, Adelaide, gold coast, Newcastle, Wollongong
            <br />
            <b>Phone code:</b> 61
            <br />
            <b>National domain:</b> .au
        </div>
    </center>
</div>
