
@{
    ViewBag.Title = "Belarus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <center>
        <h2>Belarus</h2>
        <br />
        <img src="https://prikolnye-kartinki.ru/img/picture/Jul/27/07d65ca1263ab56fa0de1b31c741b23c/5.jpg" width="240" height="120">
        <div>
            <b>Area:</b> 207 595 km2
            <br />
            <b>Population:</b> 9 491 823 people (2018)
            <br />
            <b>Capital:</b> Minsk (since 1919)
            <br />
            <b>Major cities:</b> Minsk, Brest, Vitebsk, Gomel, Grodno, Mogilev
            <br />
            <b>Phone code:</b> 375
            <br />
            <b>National domain:</b> .by
        </div>
    </center>
</div>