
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        @Html.ActionLink("Australia", "Australia", "City")
    </div>
    <div>
        @Html.ActionLink("Belarus", "Belarus", "City")
    </div>
    <div>
        @Html.ActionLink("Ukraine", "Ukraine", "City")
    </div>
</div>
