
@{
    ViewBag.Title = "Ukraine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <center>
        <h2>Ukraine</h2>
        <br />
        <img src="http://fullhdwallpapers.ru/image/flags/22201/flag-ukrainy.jpg" width="240" height="120">
        <div>
            <b>Area:</b> 7 692 024 km2
            <br />
            <b>Population:</b> 42 568 433 people (2018)
            <br />
            <b>Capital:</b> Kiev
            <br />
            <b>Major cities:</b> Odessa, Donetsk, Kharkiv, Lviv, Dnipro, Krivoy Rog, Zaporozhye
            <br />
            <b>Phone code:</b> 380
            <br />
            <b>National domain:</b> .ua, .укр
        </div>
    </center>
</div>
