
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body class="body">
    <div>
        @Html.ActionLink("Create", "Create");
        @Html.ActionLink("All", "All");
    </div>
</body>
</html>
