
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="body">
<div>
    <input type="button" class="btn btn-outline-info" value="Create" onclick="location.href = '@Url.Action("Create", "Home")'"/>
    <input type="button" class="btn btn-outline-info" value="All" onclick="location.href = '@Url.Action("All", "Home")'"/>
</div>
</body>
</html>
